<toolbar>
</toolbar>

<sidenav>
</sidenav>

<md-content class="md-main-content" layout="column" flex layout-fill>

  <div class="md-map-container">
    <ui-gmap-google-map center='map.center'
              zoom='map.zoom'
              options='map.options'
              draggable='true'>
      <ui-gmap-markers models="markers" coords="'self'" icon='{url: "assets/marker/orange.png"}' options='map.options'>
        <ui-gmap-windows show="show">
          <div class="md-map-marker" ng-non-bindable>
            <h3 class="md-map-marker-title">{{name}}</h3>
            <p>{{description}}</p>
            <p><small><em>{{tags | lowercase}}</em></small></p>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>

  <marker-box>
  </marker-box>

</md-content>


<md-button class="md-fab md-fab-bottom-right" aria-label="Add marker" ng-click="showMarker($event)">
  <md-icon md-svg-icon="assets/svg/md-marker.svg"></md-icon>
</md-button>
