<md-dialog aria-label="add Marker" class="md-dialog-marker">
  <h3>Adding markers isn't supported yet!</h3>

  <div class="md-actions" layout="row">
    <md-button class="md-primary md-dialog-action-buttons" ng-click="closeDialog()">
      Cancel
    </md-button>
    <md-button class="md-primary md-dialog-action-buttons" ng-click="closeDialog()">
      Ok
    </md-button>
  </div>

</md-dialog>