<md-toast class="md-toast-error">
  <span flex>Oops, something went wrong!</span>
  <md-button ng-click="closeToast()" class="md-icon-button md-toast-close" aria-label="Close toast">
    <md-icon md-svg-icon="assets/svg/md-close.svg"></md-icon>
  </md-button>
</md-toast>