<md-dialog aria-label="signin User" class="md-dialog-user">
  <h3>Log in</h3>
  <md-divider></md-divider>

  <md-content layout-padding class="sticky-container">
    <div class="dialog-content">  
      <form name="userForm">
        
        <md-input-container class="md-icon-float">
          <label>Email</label>
          <md-icon md-svg-icon="assets/svg/md-email.svg" class="name"></md-icon>
          <input type="email" aria-label="email" ng-model="user.email" required>
        </md-input-container>

        <md-input-container class="md-icon-float">
          <label>Password</label>
          <md-icon md-svg-icon="assets/svg/md-lock.svg" class="name"></md-icon>
          <input type="password" aria-label="password" ng-model="user.password" required>
        </md-input-container>
        
      </form>
    </div>
  </md-content>
  
  <div class="md-actions" layout="row">
    <md-button class="md-primary md-dialog-action-buttons md-dialog-register" ng-click="showRegister($event)">
      Register
    </md-button>
    <span flex></span>
    <md-button class="md-primary md-dialog-action-buttons" ng-click="closeDialog()">
      Cancel
    </md-button>
    <md-button class="md-primary md-dialog-action-buttons" ng-click="signIn(user)">
      Ok
    </md-button>
  </div>
</md-dialog>