<md-sidenav class="md-whiteframe-z2 md-event" md-component-id="event">
  <md-toolbar layout="row">
    <div ng-hide="user.signedIn" class="md-toolbar-tools">
      <span>Pages</span>
      <span flex></span>

      <md-button md-no-ink ng-click="closeMenu()" class="md-icon-button" aria-label="Close">
        <md-icon md-svg-icon="assets/svg/md-chevron.svg"></md-icon>
      </md-button>
    </div>

    <div ng-show="user.signedIn" class="md-toolbar-tools">
      <span>{{user.name}}</span>
      <span flex></span>


      <md-button md-no-ink ng-click="closeMenu()" class="md-icon-button" aria-label="Close">
        <md-icon md-svg-icon="assets/svg/md-chevron.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content>
    <div ng-hide="user.signedIn">
      <md-menu-item>
        <md-button ng-click="showSignIn($event)">
          Login
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button ng-click="showRegister($event)">
          Register
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button>
          About Us
        </md-button>
      </md-menu-item>
    </div>

    <div ng-show="user.signedIn" class="md-profile-title">
      <h1 class="md-title">Profile</h1>
      <md-menu-item>
        <md-button>
          Settings
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button ng-click="signOut()">
          Logout
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button>
          About Us
        </md-button>
      </md-menu-item>
    </div>
   </md-content>
   <div class="sidenav-signature">
    <p>
      created with love and care
    </p>
    <p>
      (c) Tigran Terian
    </p>    
   </div>
</md-sidenav>