# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f97f809e0faf0bd99001a3630d2881a9aeb87821400a80f46c86dd4c00a241fdfbe80ef668b4b2c6e51feb94c9cb27055d17d56bed2e938aa12d1f3bf611ccf0

test:
  secret_key_base: 54b255a713501eec27a56124dccc447dcb941dd143948dee11b88b2c037cddfeee41529e3ec963ccc893f291e92794aa7ee1f8ee6e6780b1f04ea917f578bd33

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
