/* -------------------------------- 
Event
-------------------------------- */

.md-event {
	width: 460px !important;
	max-width: 460px !important;
}

.md-event-image {
	width: 460px;
	height: auto;
}