/* -------------------------------- 
Legend
-------------------------------- */

.md-legend {
	position: absolute;
	max-height: 70% !important;
	height: 100% !important;
	width: 500px;
	top: 90px;
	right: 20px;
	background-color: white;
	overflow: auto;
}

.md-legend-search {
	position: fixed !important;
	z-index: 999 !important;
	background-color: white !important;
	width: 25% !important;
}

md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
	min-height: 60px !important;
}