<!DOCTYPE html>
<html lang="en" ng-app="pinApp">

  <head>
      <title>Map Heroes</title>
      <script src="//maps.googleapis.com/maps/api/js"></script>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <base href="/">
  </head>

  <body>
    <div ng-view>
      <%= yield %>
    </div>
  </body>
  
</html>
